.linea {
  background-color: aqua;
  display: block;
  text-transform: uppercase;
}

.linea li {
  display: inline;
  color: blue;
  margin: 0 20px;
}

.saludo {
  background-color: chartreuse;
  margin: 0 40px;
}

h1{
  background-color: aqua;


}